/* PHASE 8: Thumbs */
.friends-section {
    max-width: 240px;
    position: relative;
}

.thumb {
    display: block;
    position: absolute;
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 3px;
}

.mid {
    left: 50%;
    transform: translateX(-50%);
}

.center {
    /* top: 75%; */
    transform: translateY(100%);
}